/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 50%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container{
  margin-left:5%;
  margin-right:5%;
}

.text-title{
  font-size: x-large;
  text-align: center;
}
